# Python
__pycache__/
*.pyc
venv/
env/

# Node
node_modules/
build/
dist/

# OS / Editor
.DS_Store
.vscode/

# ML models
*.pt
*.pth

# Python
__pycache__/
*.pyc

# Backend generated images
clearview-backend/processed/

# Android
.gradle/
build/
local.properties
